In [16]:
#scikit
from sklearn import linear_model
import pandas as pd
import os

In [136]:
infile = pd.read_csv('Comp_train.csv')

In [111]:
infile.info

<bound method DataFrame.info of      Date Month  EmpCount  AssessmentsComplete  AssessmentsEnrolled  \
0  20-Apr   Apr        77                   99                   49
1  29-May   May        71                   84                   58
2  29-Jun   Jun        75                  114                   71
3  26-Jul   Jul        60                  115                   81
4  28-Aug   Aug        57                  236                   90
5  20-Sep   Sep        38                  268                   94
6  13-Oct   Oct        34                  274                   98

   100%Count  75%Count
0          0         0
1          1         1
2          2         1
3          2         5
4          3         6
5          5        10
6          7        13  >

In [112]:
lmod_100=linear_model.LinearRegression()

In [113]:
# x is dataframe, y is series which means a single column array
x = infile.loc[:, ['AssessmentsComplete','AssessmentsEnrolled']]
# loc is to bring a dataframe, : means all, lhs is rows and rhs is columns
y = infile['100%Count']

In [114]:
lmod_100.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [115]:
HundredCount = lmod_100.predict(x)

In [116]:
HundredCount

array([0.1923811 , 0.51079777, 1.69844988, 2.30107842, 4.53503379,
       5.22116625, 5.54109279])

In [117]:
from sklearn.metrics import r2_score

In [118]:
r2 = r2_score(y,HundredCount)

In [119]:
print(r2)

0.8567994083914396

In [120]:
adjr2 = 1 - (1-r2)*(len(y)-1)/ (len(y)-1-x.shape[1]) 
print(r2,adjr2)

0.8567994083914396 0.7851991125871595

In [121]:
from sklearn.feature_selection import RFE

In [122]:
# first create the model with all input variables that matter
rfe = RFE(lmod_100,2) ### 2<-- We are giving instruction to the RFE to identify top 2 var
# start with top 25%
rfe.fit(x,y) 
out = pd.DataFrame() 
out['Feature'] = x.columns 
out['Ranking'] = rfe.ranking_ 
out.T

                           0                    1
Feature  AssessmentsComplete  AssessmentsEnrolled
Ranking                    1                    1

In [137]:
# retain x, change y to get prediction for count of employees achieving 75% goal
y = infile['75%Count']

In [138]:
lmod_75=linear_model.LinearRegression()

In [139]:
lmod_75.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [140]:
SeventyfiveCount = lmod_75.predict(x)

In [141]:
SeventyfiveCount

array([ 0.19718165,  1.25820614,  3.74523657,  5.2505094 ,  8.82386496,
       10.00972161, 10.71527967])

In [142]:
r2 = r2_score(y,SeventyfiveCount)

In [143]:
print(r2)

0.8854383876296791

In [144]:
adjr2 = 1 - (1-r2)*(len(y)-1)/ (len(y)-1-x.shape[1]) 
print(r2,adjr2)

0.8854383876296791 0.8281575814445186

In [145]:
testfile = pd.read_csv('Comp_test.csv')

In [146]:
testfile

,Date,Month,EmpCount,AssessmentsComplete,AssessmentsEnrolled,100%Count,75%Count
0,30-Oct,Oct,34,295,103,10,12
1,30-Nov,Nov,34,383,134,12,18
2,15-Dec,Dec,34,421,148,13,21

In [147]:
xtest = testfile.loc[:, ['AssessmentsComplete','AssessmentsEnrolled']]

In [148]:
HundredTest=lmod_100.predict(xtest)

In [149]:
HundredTest

array([ 6.13114635,  9.19509802, 10.55428324])

In [150]:
SeventyfiveTest=lmod_75.predict(xtest)

In [151]:
SeventyfiveTest

array([11.84661305, 18.08131844, 20.86481303])

In [160]:
pd.DataFrame(HundredTest)

           0
0   6.131146
1   9.195098
2  10.554283

In [165]:
testfile.add(pd.DataFrame(HundredTest))

,0,100%Count,75%Count,AssessmentsComplete,AssessmentsEnrolled,Date,EmpCount,Month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
testfile.append(pd.DataFrame(SeventyfiveTest))

,0,100%Count,75%Count,AssessmentsComplete,AssessmentsEnrolled,Date,EmpCount,Month
0,NaN,10.0,12.0,295.0,103.0,30-Oct,34.0,Oct
1,NaN,12.0,18.0,383.0,134.0,30-Nov,34.0,Nov
2,NaN,13.0,21.0,421.0,148.0,15-Dec,34.0,Dec
0,11.846613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18.081318,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20.864813,NaN,NaN,NaN,NaN,NaN,NaN,NaN